<a href="https://colab.research.google.com/github/katya-stanzy/AZ-900T0x-MicrosoftAzureFundamentals/blob/master/Use_PyMongo_Cosmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# PLEASE DO NOT CHANGE THIS LINE
import pymongo
uri = "mongodb://randomwhale:hN837NgLsDvLuQOIlMJ9klk71vdcxDoYtat8Cs5RjA4k4q0Y7DjqLwGBn1N12U46dtsdWsXvBgjuHDg75UlGWg==@randomwhale.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@randomwhale@"
client = pymongo.MongoClient(uri)

In [ ]:
mydb = client["dodoisdancing"] # PLEASE DO NOT CHANGE THIS LINE

In [ ]:
mycol = mydb["fish"] # Change collection name 'fish' to anything else that you like!

In [ ]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [ ]:
mydict = { "name": "Shrimp", "age": 30 }

x = mycol.insert_one(mydict)

In [ ]:
r2 = { "name": "Shrimp", "complex": mydict , "subjects":["eng","fr","gt"]}

x = mycol.insert_one(r2)

In [ ]:
# MongoDB-> Document Database 
for x in mycol.find():
  print(x)

{'_id': ObjectId('619bbf0bd8ebcf4cbfecc5ba'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('619bbf10d8ebcf4cbfecc5bb'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('619bbf13d8ebcf4cbfecc5bc'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('619bbf10d8ebcf4cbfecc5bb')}, 'subjects': ['eng', 'fr', 'gt']}

In [ ]:
for x in mycol.find({"name":"Shrimp", "age":30}).limit(1):
  print(x)

{'_id': ObjectId('619bbf10d8ebcf4cbfecc5bb'), 'name': 'Shrimp', 'age': 30}

In [ ]:
myquery = { "name": { "$regex": "p$" } } # for example, this is a 
# regular expression that ends with letter 'p'

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('619bbf10d8ebcf4cbfecc5bb'), 'name': 'Shrimp', 'age': 30}
{'_id': ObjectId('619bbf13d8ebcf4cbfecc5bc'), 'name': 'Shrimp', 'complex': {'name': 'Shrimp', 'age': 30, '_id': ObjectId('619bbf10d8ebcf4cbfecc5bb')}, 'subjects': ['eng', 'fr', 'gt']}

In [ ]:
# Modern-> 2 things-> Credentials, strictly mantain relationship 
# SQL-> Tx
# moving from SQL to Mongo or Blob or Table
# Search from there!

In [ ]:
# Product Description
# TV, Fridge, Ship-> price, catID-> SEMI - STRUCTURED
# diagonal, price, 
# volume, price, color
# capacity, name, not_available

In [ ]:
# Shopping basket -> { itemid, item count, unit price, totalprice}->

In [ ]:
# use SQL-> RELATIONSHIPs-> FK